VITE_BACKEND_URL=http://localhost:8000
CLOUDINARY_CLOUD_NAME=dhjy0rkhh
CLOUDINARY_API_KEY=691922166638666
CLOUDINARY_API_SECRET=rG96XWt9Z80GGfCqkRa6iOuCMh0
VITE_STRIPE_PUBLISHABLE_KEY="your_stripe_secret_here"
VITE_STRIPE_SECRET_KEY="your_stripe_secret_here"